@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fc-event {
  background-color: lightgray;
  border: gray;
}

.mapboxgl-popup-close-button {
  color: rgb(13 148 136);
  font-weight: bold;
  font-size: 22px;
}
.mapboxgl-popup-content {
  padding: 15px !important;
}
.mapboxgl-popup-close-button {
  right: 3px !important;
}

input[type="text"]:focus {
  box-shadow: none;
}

.react-select__control {
  width: 100%; /* Ensure the control stays within its parent container */
  font-size: 16px; /* Prevent mobile zoom */
}

.react-select__menu {
  width: 100%; /* Match dropdown width with the control */
  margin-left: 0;
  margin-right: 0;
}

.react-select__value-container {
  overflow: hidden; /* Prevent overflowing text */
}

.react-select__control {
  transition: none !important;
  border-color: #15b8a6 !important;
}

.react-select__control:hover {
  transition: none !important;
  border-color: #15b8a6 !important;
}

.react-select__option {
  transition: none !important;
  background-color: white !important;
  color: black !important;
}

.react-select__option--is-focused {
  transition: none !important;
  background-color: #e6f7f4 !important;
  color: black !important;
}

.react-select__option--is-selected {
  transition: none !important;
  background-color: #15b8a6 !important;
  color: white !important;
}

.react-select__indicator {
  color: teal !important;
}

.react-select__single-value {
  color: teal !important;
}
