@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fc-event {
  background-color: lightgray;
  border: gray;
}

.mapboxgl-popup-close-button {
  color: rgb(13 148 136);
  font-weight: bold;
  font-size: 22px;
}
.mapboxgl-popup-content {
  padding: 15px !important;
}
.mapboxgl-popup-close-button {
  right: 3px !important;
}

input[type="text"]:focus {
  box-shadow: none;
}
/* Dropdown Menu */
.react-select__menu {
  width: 100%; /* Match dropdown width with the control */
  margin: 0; /* Removes unnecessary left/right margins */
}

/* Value Container */
.react-select__value-container {
  overflow: hidden; /* Prevent overflowing text */
}

/* Control (Input Box) */
.react-select__control {
  width: 100%;
  border-color: teal !important;
  box-shadow: none !important;
  transition: none !important;
}

.react-select__control:hover {
  border-color: #15b8a6 !important; /* Lighter teal on hover */
}

.react-select__control--is-focused {
  border-color: teal !important;
  box-shadow: 0 0 0 1px teal !important;
}

/* Options (Dropdown Items) */
.react-select__option {
  background-color: white !important;
  color: black !important;
  transition: none !important;
}

.react-select__option--is-focused {
  background-color: #e6f7f4 !important; /* Light teal on hover */
  color: black !important;
}

.react-select__option--is-selected {
  background-color: teal !important; /* Teal for selected */
  color: white !important; /* White text for contrast */
}

/* Selected Value */
.react-select__single-value {
  color: teal !important;
}

/* Dropdown and Clear Indicators */
.react-select__dropdown-indicator,
.react-select__clear-indicator {
  color: teal !important;
}

.react-select__dropdown-indicator:hover,
.react-select__clear-indicator:hover {
  color: teal !important;
}
